# Dataset
data/

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Generated predictions
predictions/

# Benchmark outputs
benchmark/

# Checkpoints
checkpoints/
!checkpoints/README.md
!checkpaints/best_model.pth

# VS Code
.vscode/
*.docx

# OS files
.DS_Store
Thumbs.db